<div class="led-status-indicator" id="ledStatusIndicator">
    <div class="led-status-indicator__header">
        <h4 class="led-status-indicator__title">LED Status</h4>
        <div class="led-status-indicator__connection" id="hardwareConnection">
            <div class="led-status-indicator__connection-indicator" id="connectionIndicator"></div>
            <span class="led-status-indicator__connection-text" id="connectionText">Disconnected</span>
        </div>
    </div>
    
    <div class="led-status-indicator__grid" id="ledGrid">
        <!-- LED status indicators will be dynamically inserted here -->
    </div>
    
    <div class="led-status-indicator__legend">
        <div class="led-status-indicator__legend-item">
            <div class="led-status-indicator__led led-status-indicator__led--on"></div>
            <span>LED On</span>
        </div>
        <div class="led-status-indicator__legend-item">
            <div class="led-status-indicator__led led-status-indicator__led--off"></div>
            <span>LED Off</span>
        </div>
        <div class="led-status-indicator__legend-item">
            <div class="led-status-indicator__led led-status-indicator__led--flashing"></div>
            <span>Flashing</span>
        </div>
        <div class="led-status-indicator__legend-item">
            <div class="led-status-indicator__led led-status-indicator__led--error"></div>
            <span>Error</span>
        </div>
    </div>
    
    <div class="led-status-indicator__controls" id="ledControls">
        <button class="led-status-indicator__button" id="testAllBtn">
            Test All LEDs
        </button>
        <button class="led-status-indicator__button" id="resetLedsBtn">
            Reset LEDs
        </button>
    </div>
</div>
